
/* design for the registrations*/
auth-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    line-height: 1;
    padding-bottom: 20px;
  }
  
  .auth-inner {
    text-align: left;
    width: 550px;
    margin-left: 400px;
    margin-top: 100px;
    margin-bottom: 300px;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
  }

  .centerdesign {
    text-align: center; 
  }

  .centerdesign h1 {
    text-align: center; 
    font-weight: bolder;
    color: #323232;
    font-family: oswald-medium,oswald,sans-serif;
  }
  .centerdesign Button {
    text-align: center; 
    color: white;
    
   

  }

  /*navbar style*/
  .navbar{
      background-color: #b8549d;
      
  }

